@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Rubik+Mono+One&display=swap');

body {
-webkit-text-size-adjust: 100%;
  text-size-adjust: 100%; /* Add this line */
}
/* ... rest of your code */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Rubik Mono One', sans-serif;
}

.small {
  font-weight: 300;
  font-style: italic;
}
